$orange: #f93;
$blue: rgba(51, 51, 255, 0.5);

html, body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  font-family: helvetica;
}

#hero-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
}

#header {
  height: 100px;
}

#main {
  text-align: center;
  input {
    background: none;
    width: 100%;
    height: 60px;
    border: 4px solid #fff;
    font-size: 24px;
    text-align: center;
    color: #fff;
    outline: 0;
  }
}
